NODE_ENV = 'development';
MONGO_CONNECTION = 'mongodb+srv://pochapskiy1983:jsvnLv5FcYbj3doi@cluster-test.byavzjc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster-test';
# MONGO_DB_NAME=sample-mflix;
PORT = 3003;